<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- CSS link -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

     <!-- Tailwind link -->
     <link href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css' rel='stylesheet' />
     
  </head>
  <body>
    <div class="bg-slate-900 flex flex-col px-6 py-12 rounded-3xl max-md:px-5">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/e2a466e7e49b021ed69ca142499a4fa1b12f24f1224b99c96600506be9fcbd11?"
        class="aspect-square object-contain object-center w-11 overflow-hidden max-w-full self-start"
      />
      <div
        class="text-white text-center text-6xl whitespace-nowrap self-center aspect-square justify-center items-stretch mt-12 pl-5 pr-3 py-3.5 rounded-[50%] max-md:text-4xl max-md:mt-10"
      >
        P
      </div>
      <div
        class="text-white text-center text-3xl font-bold self-center max-w-[328px] mt-7"
      >
        Welcome back!
      </div>
      <div
        class="bg-cyan-950 self-stretch flex flex-col items-stretch mt-8 px-7 py-12 rounded-3xl max-md:px-5"
      >
        <div class="text-white text-base">Email or phone number</div>
        <div
          class="justify-center text-cyan-950 text-base underline max-w-[261px] border shadow-sm bg-zinc-100 mt-2.5 pl-6 pr-16 py-3 rounded-3xl border-solid border-black items-start max-md:px-5"
        >
          <a href="mailto:email@gmail.com" target="_blank">email@gmail.com</a>
        </div>
        <div class="text-white text-base mt-9">Password</div>
        <div
          class="justify-center text-cyan-950 text-base max-w-[261px] border shadow-sm bg-zinc-100 my-3 pl-6 pr-16 pt-3 pb-5 rounded-3xl border-solid border-black items-start max-md:px-5"
        >
          **************
        </div>
      </div>
      <div
        class="text-white text-center text-base font-bold whitespace-nowrap justify-center items-center border shadow-sm bg-green-600 self-center w-[223px] max-w-full mt-6 mb-32 px-16 py-4 rounded-[100px] border-solid border-black max-md:mb-10 max-md:px-5"
      >
        Login
      </div>
    </div>
    
  </body>
</html>